h1{
    color: darkorange;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
h1}    
a:link {
    color:cadetblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:coral;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:rgb(214, 153, 238);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  #wrap{
    width: 960px;
    margin: auto;
    padding: 10ppx 20px;
}

.menu ul li {
    display: inline-block;
    padding-right: px;
}